[Desktop Entry]
Name=Volume Icon
Exec=volumeicon
TryExec=volumeicon
Icon=multimedia-volume-control
Type=Application
Terminal=false
StartupNotify=false
Hidden=true

